playwright==1.49.1
beautifulsoup4==4.12.3
aio_pika==9.5.4
motor==3.6.0
unstructured==0.16.12
fastapi[standard]==0.115.6
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
sentence_transformers==3.3.1
xformers==0.0.29.post1
requests==2.32.3
aiohttp==3.11.11
loguru==0.7.3
